@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.centralization-first {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.first-part {
    display: flex;
    flex-direction: column;
    height: 500px;
}

header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 800px;
}

.hero {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    margin: auto 0;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 230px;
    padding: 10px 0;
}

header a,
.hero p {
    text-decoration: none;
    color: #e5e7eb;
    margin: 0;
}

.hero p {
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.hero button {
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    padding: 8px;
    font-size: 18px;
    width: 130px;
    border: none;
}

.hero .image-placeholder {
    background-color: #415168;
    width: 600px;
    height: 250px;
    border-radius: 5px;
}

.hero img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: top;
    border-radius: 5px;
}

/* * {
    border: 1px solid pink;
} */