@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.first-part, .second-part, .third-part, .fourth-part {
    display: flex;
    justify-content: center;
}

.first-part {
    background-color: #1F2937;
    color: #f9faf8;
    height: 600px;
}

.first-content, .second-content, .third-content, .fourth-content, .left-call-to-action {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.links {
    display: flex;
    gap: 25px;
}

.logo {
    font-size: 24px;
    font-weight: 800px;
}

.hero {
    display: flex;
    gap: 60px;
    margin: auto 0;
}

.hero .hero-left {
    display: flex;
    flex-direction: column;
    width: 460px;
    height: 230px;
    padding: 10px 0;
}

header a,
.hero p {
    text-decoration: none;
    color: #e5e7eb;
}

.hero p {
    margin-bottom: 10px;
}

.hero h1 {
    font-size: 48px;
}

button {
    background-color: #3882f6;
    color: inherit;
    font-size: inherit;
    border-radius: 8px;
    padding: 9px 20px;
    width: 130px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.hero .image-placeholder {
    width: 600px;
    height: 250px;
    border-radius: 10px;
}

img {
    width: 100%;
    height: inherit;
    object-fit: cover;
    object-position: center;
}

.hero img {
    border-radius: 5px;
}



.second-part {
    height: 525px;
    color: #1F2937;
}

.four-containers {
    display: flex;
    gap: 50px;
    margin-bottom: 105px;
}

.second-part h2 {
    font-size: 36px;
    font-weight: 800;
    margin: auto 0;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

div.image-container {
    width: 200px;
    height: 200px;
}

.image-container img {
    border: 5px solid #3882f6;
    border-radius: 20px;
}

#image-one {
    object-position: left;
}

#image-three {
    object-position: bottom;
}

.container p {
    width: 200px;
    padding-top: 22px;
    text-align: center;
    color: #415168;
}



.third-part {
    background-color: #e5e7eb;
    height: 455px;
    color: #1F2937;
}

.third-part p {
    width: 900px;
    margin: 142px 0 0 0;
    font-size: 36px;
    font-weight: 300;
    font-style: italic
}

.third-part h4 {
    align-self: flex-end;
    font-size: 22px;
    margin: 5px 0 auto;
}



.fourth-part {
    height: 385px;
    align-items: center;
    color: #f9faf8;
}

.fourth-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #3882f6;
    box-sizing: border-box;
    width: 1220px;
    padding: 60px 150px;
    border-radius: 10px;
    gap: 20px;
}

.fouth-part p {
    color: #e5e7eb;
}

h3 {
    font-weight: 800;
    font-size: 28px;
}

.fourth-part button {
    border: 2px solid #f9faf8;
}



footer {
    background-color: #1F2937;
    color: #e5e7eb;
    height: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0;
}